.b-nav--container {
  width: inherit;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.b-nav--item {
  text-decoration: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
}
.b-nav--item:hover {
  color: rgba(255, 255, 255, 0.8);
}

@keyframes appear-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    width: 0;
    height: 0;
    transform: translate(5vw, -6rem);
  }
  30% {
    opacity: 1;
    transform: translate(5vw, -6rem)
  }
  100% {
    width: 40vw;
    height: 10rem;
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 576px) {
  .b-nav--container {
    position: absolute;
    flex-direction: column;
    top: 0.5rem;
    right: 0.2rem;
    width: 40vw;
    padding: 26px 16px 8px;
    border-radius: 0.2rem;
    background-color: white;
    opacity: 0;
    animation: appear 150ms forwards;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .b-nav__display-none {
    display: none;
  }
  .b-nav--item {
    padding: 0.5rem 0;
    margin: 0;
    color: var(--color-text);
    font-weight: 500;
  }
  .b-nav--item:hover {
    color: black;
  }
}

@media (min-width: 576px) {
  .b-nav--container {
    display: flex;
  }
}