.b-single-character-input--container {
  max-width: 90%;
}

.b-single-character-input--word-container {
  display: inline-block;
}

.b-single-character-input--char {
  font-size: 1.3rem;
  font-weight: 500;
  width: 1rem;
  height: 1.3rem;
  border: none;
  border-bottom: solid 2px var(--color-border);
  margin: 0 3px;
  outline: none;
  padding: auto;
}

.b-single-character-input--char::placeholder {
  color: gray;
  opacity: 0;
}

.b-char__placehold::placeholder {
  opacity: 1;
}

.b-char__color-red {
  color: rgba(255, 0, 0, 0.8);
}

.b-single-character-input--space {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}