.b-welcome--screen-animation {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary);
  animation: go-up-screen 500ms 1000ms forwards;
  z-index: 1;
}

@keyframes go-up-screen {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes go-up-header {
  0% {
    scale: 2.5;
    top: calc(50% - 2rem);
  }

  66% {
    scale: 2.5;
    top: calc(50% - 2rem);
  }

  100% {
    scale: 1;
    top: 0;
  }
}

.b-welcome-header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: white;
  font-size: 2rem;
  font-weight: 500;
  z-index: 2;
  animation: go-up-header 1500ms forwards;
  position: absolute;
  width: 100vw;
  top: calc(50% - 2rem);
  scale: 2.5;
}

.b-welcome-header-title {
  text-align: center;
  padding: 0 5px;
  max-width: 500px;
  box-sizing: content-box;
}

.b-welcome--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 8rem);
  margin: 0 15vw;
  text-align: center;
}

.b-welcome--main h1 {
  margin: 25vh 0 0 0;
  font-size: 2.5rem;
}

.b-welcome--main h2 {
  margin-top: 7vh;
  font-weight: 600;
  font-size: 1.5rem;
}

.b-welcome-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5vh;
}

.b-welcome-actinons--start {
  margin-right: 2rem;
}

.b-welcome-actinons--login {
  margin-left: 2rem;
}

.b-welcome-actions--start-button {
  width: 21rem;
}

.b-welcome-actinons--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.b-welcome-actinons--item>h4 {
  font-weight: 500;
  font-size: 1.3rem;
}

.b-welcome--footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 470px) {
  @keyframes go-up-header {
    0% {
      scale: 1.5;
      top: calc(50% - 2rem);
    }

    66% {
      scale: 1.5;
      top: calc(50% - 2rem);
    }

    100% {
      scale: 1;
      top: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .b-welcome--main {
    margin: 0 2vw;
  }

  .b-welcome--main h1 {
    margin-top: 17vh;
    font-size: 2rem;
  }

  .b-welcome-actions--start-button {
    width: 10rem;
    height: 2.5rem;
  }

  .b-welcome-actinons--item {
    height: 160px;
    justify-content: space-between;
  }

  .b-welcome-actinons--start {
    margin-right: 2vw;
  }

  .b-welcome-actinons--login {
    margin-left: 2vw;
  }

  .b-welcome-actinons--item>h4 {
    margin-bottom: 0.5rem;
  }

  .b-welcome--footer {
    margin-bottom: 2vh;
  }
}